<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mes emprunts</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <th:block th:insert="fragments/navbar::navbar"></th:block>
  
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Mes emprunts
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/acceuil}">Acceuil</a>
      </li>
      <li class="breadcrumb-item active">
      <a th:href="@{/contact}">Contact</a>
      </li>
    </ol>
<th:block th:each="emprunt : ${emprunts}">
    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header" >Numéro d'identification : <span th:text="${emprunt.id}"></span></h3>
          <div class="card-body">
            <div class="display-4" >Date limite : <span th:text="${emprunt.dateEcheance}"></span></div>
            <div class="font-italic">per month</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" >Ouvrage : </li>
            <li class="list-group-item" >Ouvrage : </li>
            <li class="list-group-item">Ouvrage : </li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Prolonger!</a>
            </li>
          </ul>
        </div>
      </div>
      </th:block>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
